.my-cell {
    /* cursor: pointer; */
    transition: background-color 0.3s ease;

    /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  }
  #main1{
    background-color: #C0C5C1 ;
    /* border:2px solid black; */
    height:auto;
  }
  button#btn1 {
    background-color: #C0C5C1;
    color: black;
    transition: background-color 0.3s ease; /* Enables color change on hover */
  
    &:hover {
      background-color: #292929; /* New background color on hover */
      color:white
    }
  }

  .container {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    margin: auto;
  }

  .myblock{

  }
  
  .truncate {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }